@model IEnumerable<WebQuiz.Models.UserDetails>
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("User", "Partial", FormMethod.Get, new { onkeydown = "return event.keyCode" }))
{
    <p>
        @Html.Label("Click to Back to Home Page")
        <br />
        @Html.ActionLink("Back", "Index", "Home")
        <br/>
         @Html.Label("Click SearchView Link to Search By Name")
        <br/>
        @Html.ActionLink("SearchView", "User", "Partial")         
        <br/>
        <br/>
         @Html.TextBox("txtValue", "", new { placeholder = "Please press Enter Key" })
        <br />
        <input type="submit" id="submit" value="submit" hidden="hidden" />
    </p>
   

}
<html>
<head>
          <link rel="stylesheet" type="text/css" media="screen" href="~/Content/Site.css">
</head>
<body>
    <div class="panel panel-default">
        <div class="divTable" style="width: 50%;border: 5px solid #000;">
            <div class="divTableBody">
                <div class="Heading">
                    <div class="Cell">
                        @Html.ActionLink("Name", "User", new { txtValue ="", sortOrder = "name_desc" })
                    </div>
                    <div class="Cell">
                        @Html.ActionLink("Last Name", "User", new { txtValue = "", sortOrder = "lastname_desc" })
                    </div>
                    <div class="Cell">
                        @Html.ActionLink("EmailID", "User", new { txtValue = "",  sortOrder = "email_desc" })
                    </div>
                    <div class="Cell">
                        <a href="#">Phone Number</a>
                    </div>
                </div>
                @foreach (var i in Model)
            {
                    <div class="Row">
                        <div class="Cell">
                            <p>@i.Name</p>
                        </div>
                        <div class="Cell">
                            <p>@i.Lastname</p>
                        </div>
                        <div class="Cell">
                            <p>@i.Email</p>
                        </div>
                        <div class="Cell">
                            <p>@i.PhoneNumber</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    
</body>
</html>
